[submodule "modules/promise.hpp"]
	path = modules/promise.hpp
	url = https://github.com/BlackMATov/promise.hpp.git

[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/ecs.hpp"]
	path = modules/ecs.hpp
	url = https://github.com/BlackMATov/ecs.hpp.git
[submodule "modules/glew-cmake"]
	path = modules/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
