msvc-build2017-win32
/msvc-build2019-win32/.vs/orom-first-encounter/v16/.suo
/msvc-build2019-win32/.vs/orom-first-encounter/v16/Browse.VC.db
/msvc-build2019-win32/.vs/orom-first-encounter/v16/Solution.VC.db
/msvc-build2019-win32/.vs/orom-first-encounter/v16/ipch/AutoPCH/2d378d5b483ada2d/MAIN.ipch
/msvc-build2019-win32/.vs/orom-first-encounter/v16/ipch/AutoPCH/6c1ea5130bdc207a/GAME.ipch
/msvc-build2019-win32/.vs/orom-first-encounter/v16/ipch/AutoPCH/ce99ccef171be2ca/GAME.ipch
/msvc-build2019-win32/ALL_BUILD.vcxproj
/msvc-build2019-win32/ALL_BUILD.vcxproj.filters
/msvc-build2019-win32/CMakeCache.txt
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeCCompiler.cmake
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeCXXCompiler.cmake
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_C.bin
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeDetermineCompilerABI_CXX.bin
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeRCCompiler.cmake
/msvc-build2019-win32/CMakeFiles/3.15.5/CMakeSystem.cmake
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/CMakeCCompilerId.c
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/CompilerIdC.exe
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/CompilerIdC.vcxproj
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CMakeCCompilerId.obj
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/CompilerIdCXX.exe
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/CompilerIdCXX.vcxproj
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/msvc-build2019-win32/CMakeFiles/3.15.5/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/msvc-build2019-win32/CMakeFiles/3.15.5/VCTargetsPath.txt
/msvc-build2019-win32/CMakeFiles/3.15.5/VCTargetsPath.vcxproj
/msvc-build2019-win32/CMakeFiles/CMakeError.log
/msvc-build2019-win32/CMakeFiles/CMakeOutput.log
/msvc-build2019-win32/CMakeFiles/TargetDirectories.txt
/msvc-build2019-win32/CMakeFiles/cmake.check_cache
/msvc-build2019-win32/CMakeFiles/ec291255a6161c03784b209cb38faac5/generate.stamp.rule
/msvc-build2019-win32/CMakeFiles/generate.stamp
/msvc-build2019-win32/CMakeFiles/generate.stamp.depend
/msvc-build2019-win32/CMakeFiles/generate.stamp.list
/msvc-build2019-win32/Release/orom-first-encounter.exe
/msvc-build2019-win32/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
/msvc-build2019-win32/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/msvc-build2019-win32/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/msvc-build2019-win32/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/msvc-build2019-win32/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/msvc-build2019-win32/ZERO_CHECK.vcxproj
/msvc-build2019-win32/ZERO_CHECK.vcxproj.filters
/msvc-build2019-win32/cmake_install.cmake
/msvc-build2019-win32/modules/glfw/ALL_BUILD.vcxproj
/msvc-build2019-win32/modules/glfw/ALL_BUILD.vcxproj.filters
/msvc-build2019-win32/modules/glfw/CMakeFiles/generate.stamp
/msvc-build2019-win32/modules/glfw/CMakeFiles/generate.stamp.depend
/msvc-build2019-win32/modules/glfw/GLFW.sln
/msvc-build2019-win32/modules/glfw/cmake_install.cmake
/msvc-build2019-win32/modules/glfw/src/CMakeFiles/generate.stamp
/msvc-build2019-win32/modules/glfw/src/CMakeFiles/generate.stamp.depend
/msvc-build2019-win32/modules/glfw/src/Release/glfw3.lib
/msvc-build2019-win32/modules/glfw/src/cmake_install.cmake
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/context.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/egl_context.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.log
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CL.command.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CL.read.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CL.write.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.command.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.read.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.write.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/Lib-link.read.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/Lib-link.write.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/Lib.command.1.tlog
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/glfw.tlog/glfw.lastbuildstate
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/init.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/input.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/monitor.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/osmesa_context.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/vulkan.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/wgl_context.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_init.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_joystick.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_monitor.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_thread.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_time.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/win32_window.obj
/msvc-build2019-win32/modules/glfw/src/glfw.dir/Release/window.obj
/msvc-build2019-win32/modules/glfw/src/glfw.vcxproj
/msvc-build2019-win32/modules/glfw/src/glfw.vcxproj.filters
/msvc-build2019-win32/modules/glfw/src/glfw3.pc
/msvc-build2019-win32/modules/glfw/src/glfw3Config.cmake
/msvc-build2019-win32/modules/glfw/src/glfw3ConfigVersion.cmake
/msvc-build2019-win32/modules/glfw/src/glfw_config.h
/msvc-build2019-win32/modules/kaitai_struct/ALL_BUILD.vcxproj
/msvc-build2019-win32/modules/kaitai_struct/ALL_BUILD.vcxproj.filters
/msvc-build2019-win32/modules/kaitai_struct/CMakeFiles/generate.stamp
/msvc-build2019-win32/modules/kaitai_struct/CMakeFiles/generate.stamp.depend
/msvc-build2019-win32/modules/kaitai_struct/Release/kaitai_struct_cpp_stl_runtime.lib
/msvc-build2019-win32/modules/kaitai_struct/cmake_install.cmake
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CL.command.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CL.read.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CL.write.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CustomBuild.command.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CustomBuild.read.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/CustomBuild.write.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/Lib-link.read.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/Lib-link.write.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/Lib.command.1.tlog
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_s.596AF595.tlog/kaitai_struct_cpp_stl_runtime.lastbuildstate
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitai_struct_cpp_stl_runtime.log
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.dir/Release/kaitaistream.obj
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.sln
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.vcxproj
/msvc-build2019-win32/modules/kaitai_struct/kaitai_struct_cpp_stl_runtime.vcxproj.filters
/msvc-build2019-win32/orom-first-encounter.dir/Release/framebuffer.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/game.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/globals.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/lodepng.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/main.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CL.command.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CL.read.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CL.write.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CustomBuild.command.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CustomBuild.read.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/CustomBuild.write.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/link.command.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/link.read.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/link.write.1.tlog
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-fir.2AE19232.tlog/orom-first-encounter.lastbuildstate
/msvc-build2019-win32/orom-first-encounter.dir/Release/orom-first-encounter.log
/msvc-build2019-win32/orom-first-encounter.dir/Release/pngloader.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_16.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_16a.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_256.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_alm.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_bmp.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_reg.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/rage_of_mages_1_res.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/registry_file.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/resource_file.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/soaspritergb.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/soaspritergba.obj
/msvc-build2019-win32/orom-first-encounter.dir/Release/window.obj
/msvc-build2019-win32/orom-first-encounter.sln
/msvc-build2019-win32/orom-first-encounter.vcxproj
/msvc-build2019-win32/orom-first-encounter.vcxproj.filters
/CMakeLists.txt.user
/CMakeLists.txt.user.4.9-pre1
